.header{
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #dddddd;
}
.container{
    width: 100%;
    /*height: 200px;*/
    overflow: hidden;
    /*float: left;*/
}

.middle{
    width: 100%;
    height:200px;
    background-color: aquamarine;
    /*float: left;*/
}
.left{
    width: 200px;
    height: 200px;
    background-color: #2dacfd;
}
.right{
    width: 200px;
    height: 200px;
    background-color: #2dacfd;
}
.footer{
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #dddddd;
}
